<form [formGroup]="productForm" (ngSubmit)="submitForm()">
  <label>Product Name*:</label>
  <input type="text" formControlName="name" required>

  <label>Price*:</label>
  <input type="text" formControlName="price" required>

  <label>Images (comma separated URLs)*:</label>
  <input type="text" formControlName="images" required>

  <button type="submit" [disabled]="productForm.invalid">Add Product</button>
</form>

<div>
  <table *ngIf="products.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Images</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <img *ngFor="let img of product.images" [src]="img" width="50">
        </td>
        <td><div>
          <button (click)="deleteProduct(product.id)">Delete</button>
          <button (click)="updateProduct(product.id)">Update</button>
        </div></td>

      </tr>
    </tbody>
  </table>
</div>
